<!DOCTYPE html>
<html lang="vi" class="loading-site no-js">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8" />
    <style id='wp-emoji-styles-inline-css' type='text/css'>
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 0.07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
<link rel="stylesheet" href="/public/common.css">
    <link rel='stylesheet' id='flatsome-main-css'
        href='/public/flatsome7be7.css' type='text/css' media='all' />
    
    <style>
        .bg {
            opacity: 0;
            transition: opacity 1s;
            -webkit-transition: opacity 1s;
        }

        .bg-loaded {
            opacity: 1;
        }
    </style>
    
    <script src="/public/jquery.min.js"></script>


    
    <link rel="stylesheet" href="/public/style.css">
</head>

<body
    class="page-template page-template-page-transparent-header-light page-template-page-transparent-header-light-php page page-id-556 lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border">

    <amp-auto-ads type="adsense" data-ad-client="ca-pub-6997331720682321">
    </amp-auto-ads>
    <a class="skip-link screen-reader-text" href="#main">Chuyển đến nội dung</a>

    <div id="wrapper">


        


        <main id="main" class="dark dark-page-wrapper">


            <div id="content" role="main">


                <div class="containers-ph">
                    <div class="header-lights">
                        <div class="lights-a"><img decoding="async" class="ls-is-cached"
                                src="/tarot-card/lights-1.png" /></div>
                        <div class="lights-b"><img decoding="async" class="lazyloaded"
                                src="/tarot-card/lights-2.png" /></div>
                    </div>
                    <style>
                        .footermenu-fix_new {
                            display: none !important;
                        }
                    </style>

                    <div id="gap-768923766" class="gap-element clearfix" style="display:block; height:auto;">

                        <style>
                            #gap-768923766 {
                                padding-top: 1px;
                            }
                        </style>
                    </div>

                </div>
                <div class="texturing">
                    <div class="blur" style="opacity: 1;"></div>
                    <div id="anchor-blur" class="anchor-blur" style="display: none; top: 1894.5px;"></div>
                </div>
                <section class="section secc-1" id="section_583894725">
                    <div class="bg section-bg fill bg-fill  bg-loaded">





                    </div>



                    <div class="section-content relative">

                        <div id="gap-1959862002" class="gap-element clearfix" style="display:block; height:auto;">

                            <style>
                                #gap-1959862002 {
                                    padding-top: 70px;
                                }

                                @media (min-width:550px) {
                                    #gap-1959862002 {
                                        padding-top: 70px;
                                    }
                                }
                            </style>
                        </div>

                        <div class="row" id="row-672357854">

                            <div id="col-1889739466" class="col small-12 large-12">
                                <div class="col-inner">




                                    <div class="container-headerTaot">
                                        <p class="almendra-top">Nhận được câu trả lời bạn cần với</p>
                                        <p class="almendr-main">3 lá</p>
                                        <p class="almendra-bottom">bài Tarot</p>
                                    </div>
                                    <div class="danh-muc-tarot" id="id-danh-muc-tarot">
                                        <div class="bo-tarot bo-tarot-hoa chude" id="boitarot-1">
                                            <div class="select_tarot">
                                                <select name="chu_de" id="chu_de" onchange="updateCauHoi()">
                                                    <option value="">Chọn chủ đề</option>
                                                    <option value='Tình cảm của người yêu cũ'>Tình cảm của người yêu
                                                        cũ</option>
                                                    <option value='Người yêu cũ'>Người yêu cũ</option>
                                                    <option value='Mối quan hệ hiện tại'>Mối quan hệ hiện tại</option>
                                                    <option value='Mối quan hệ mập mờ'>Mối quan hệ mập mờ
                                                    </option>
                                                    <option value='Crush'>Crush</option>
                                                    <option value='Mối quan hệ cũ'>Mối quan hệ cũ</option>
                                                    <option value='Quay lại với mối quan hệ cũ'>Quay lại với mối quan hệ
                                                        cũ</option>
                                                    <option value='Người yêu tương lai'>Người yêu tương lai</option>
                                                    <option value='Giải quyết xung đột'>Giải quyết xung đột</option>
                                                    <option value='Tài chính'>Tài chính</option>
                                                    <option value='Học tập'>Học tập</option>
                                                    <option value='Công việc'>Công việc</option>
                                                    <option value='Môi trường làm việc mới'>Môi trường làm việc mới
                                                    </option>
                                                    <option value='Định hướng công việc'>Định hướng công việc</option>
                                                    <option value='Sức khỏe'>Sức khỏe</option>
                                                    <option value='Gia đình'>Gia đình</option>
                                                    <option value='Du học'>Du học</option>
                                                    <option value='Định hướng bản thân'>Định hướng bản thân</option>
                                                    <option value='Người ấy'>Người ấy</option>
                                                    <option value='Chính xác không'>Chính xác không</option>
                                                    <option value='Về bạn'>Về bạn</option>
                                                    <option value='Người yêu cũ'>Người yêu cũ</option>
                                                    <option value='Người yêu hiện tại'>Người yêu hiện tại</option>
                                                    <option value='Độc thân'>Độc thân</option>
                                                    <option value='Chia tay'>Chia tay</option>
                                                    <option value='Hôn nhân'>Hôn nhân</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="bo-tarot bo-tarot-hoa cauhoi" id="boitarot-2">
                                            <div class="select_tarot">
                                                <!-- <select name="cau_hoi" id="cau_hoi">
                                                    <option value="">Chọn câu hỏi</option>
                                                </select> -->
                                                <input list="cau_hoi_list" name="cau_hoi" id="cau_hoi" placeholder="Nhập câu hỏi" autocomplete="off">
                                            </div>

                                        </div>
                                        <div class="bo-tarot bo-tarot-hoa xaobai" id="boitarot-3">
                                            <div class="select_tarot select_tarot_nut">
                                                <button type="button" class="button-87" id="btn-xaobaii"
                                                    onclick="shuffleAndSeparate()" disabled>Xào bài</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tutotial">
                                        <div class="div_tutorial">
                                            <div id="numbderHuongdan"><span id="num_tarot">1</span>/6</div>
                                            <div id="text-huong-dan" class="huong_dan_dess"></div>
                                        </div>
                                    </div>

                                    <div class="btn-redirect">
        <button type="button" class="button-87" onclick="reset_cards()">Xếp bài</button>
        <button type="button" class="button-87" onclick="separate_instantly()">Tách bài</button>
        <button type="button" class="button-87" onclick="separate_one_by_one()">Chia bài</button>
        <button type="button" class="button-87" onclick="open_all_cards()">Mở bài</button>
        <button type="button" class="button-87" onclick="close_all_cards()">Đóng bài</button>
        <button type="button" class="button-87" onclick="shuffle_cards()">Xào bài</button>
    </div>
                                    <!-- cards container -->

                                    <div id="pack_cont">
                                        <div class="card" name="The Fool"
                                            style="z-index: 0; margin-left: 0px; margin-top: 0px;"><span
                                                class="la_bai la_bai_1"></span></div>
                                        <div class="card" name="The Magician"
                                            style="z-index: 1; margin-left: 0.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_2"></span></div>
                                        <div class="card" name="The High Priestess"
                                            style="z-index: 2; margin-left: 0.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_3"></span></div>
                                        <div class="card" name="The Empress"
                                            style="z-index: 3; margin-left: 0.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_4"></span></div>
                                        <div class="card" name="The Emperor"
                                            style="z-index: 4; margin-left: 0.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_5"></span></div>
                                        <div class="card" name="The Hierophant"
                                            style="z-index: 5; margin-left: 1px; margin-top: 0px;"><span
                                                class="la_bai la_bai_6"></span></div>
                                        <div class="card" name="The Lovers"
                                            style="z-index: 6; margin-left: 1.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_7"></span></div>
                                        <div class="card" name="The Chariot"
                                            style="z-index: 7; margin-left: 1.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_8"></span></div>
                                        <div class="card" name="Strength"
                                            style="z-index: 8; margin-left: 1.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_9"></span></div>
                                        <div class="card" name="The Hermit"
                                            style="z-index: 9; margin-left: 1.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_10"></span></div>
                                        <div class="card" name="Wheel Of Fortune"
                                            style="z-index: 10; margin-left: 2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_11"></span></div>
                                        <div class="card" name="Justice"
                                            style="z-index: 11; margin-left: 2.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_12"></span></div>
                                        <div class="card" name="The Hanged Man"
                                            style="z-index: 12; margin-left: 2.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_13"></span></div>
                                        <div class="card" name="Death"
                                            style="z-index: 13; margin-left: 2.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_14"></span></div>
                                        <div class="card" name="Temperance"
                                            style="z-index: 14; margin-left: 2.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_15"></span></div>
                                        <div class="card" name="The Devil"
                                            style="z-index: 15; margin-left: 3px; margin-top: 0px;"><span
                                                class="la_bai la_bai_16"></span></div>
                                        <div class="card" name="The Tower"
                                            style="z-index: 16; margin-left: 3.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_17"></span></div>
                                        <div class="card" name="The Star"
                                            style="z-index: 17; margin-left: 3.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_18"></span></div>
                                        <div class="card" name="The Moon"
                                            style="z-index: 18; margin-left: 3.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_19"></span></div>
                                        <div class="card" name="The Sun"
                                            style="z-index: 19; margin-left: 3.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_20"></span></div>
                                        <div class="card" name="Judgement"
                                            style="z-index: 20; margin-left: 4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_21"></span></div>
                                        <div class="card" name="The World"
                                            style="z-index: 21; margin-left: 4.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_22"></span></div>
                                        <div class="card" name="Ace Of Wands"
                                            style="z-index: 22; margin-left: 4.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_23"></span></div>
                                        <div class="card" name="Two Of Wands"
                                            style="z-index: 23; margin-left: 4.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_24"></span></div>
                                        <div class="card" name="Three Of Wands"
                                            style="z-index: 24; margin-left: 4.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_25"></span></div>
                                        <div class="card" name="Four Of Wands"
                                            style="z-index: 25; margin-left: 5px; margin-top: 0px;"><span
                                                class="la_bai la_bai_26"></span></div>
                                        <div class="card" name="Five Of Wands"
                                            style="z-index: 26; margin-left: 5.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_27"></span></div>
                                        <div class="card" name="Six Of Wands"
                                            style="z-index: 27; margin-left: 5.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_28"></span></div>
                                        <div class="card" name="Seven Of Wands"
                                            style="z-index: 28; margin-left: 5.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_29"></span></div>
                                        <div class="card" name="Eight Of Wands"
                                            style="z-index: 29; margin-left: 5.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_30"></span></div>
                                        <div class="card" name="Nine Of Wands"
                                            style="z-index: 30; margin-left: 6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_31"></span></div>
                                        <div class="card" name="Ten Of Wands"
                                            style="z-index: 31; margin-left: 6.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_32"></span></div>
                                        <div class="card" name="Page Of Wands"
                                            style="z-index: 32; margin-left: 6.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_33"></span></div>
                                        <div class="card" name="Knight Of Wands"
                                            style="z-index: 33; margin-left: 6.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_34"></span></div>
                                        <div class="card" name="Queen Of Wands"
                                            style="z-index: 34; margin-left: 6.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_35"></span></div>
                                        <div class="card" name="King Of Wands"
                                            style="z-index: 35; margin-left: 7px; margin-top: 0px;"><span
                                                class="la_bai la_bai_36"></span></div>
                                        <div class="card" name="Ace Of Cups"
                                            style="z-index: 36; margin-left: 7.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_37"></span></div>
                                        <div class="card" name="Two Of Cups"
                                            style="z-index: 37; margin-left: 7.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_38"></span></div>
                                        <div class="card" name="Three Of Cups"
                                            style="z-index: 38; margin-left: 7.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_39"></span></div>
                                        <div class="card" name="Four Of Cups"
                                            style="z-index: 39; margin-left: 7.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_40"></span></div>
                                        <div class="card" name="Five Of Cups"
                                            style="z-index: 40; margin-left: 8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_41"></span></div>
                                        <div class="card" name="Six Of Cups"
                                            style="z-index: 41; margin-left: 8.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_42"></span></div>
                                        <div class="card" name="Seven Of Cups"
                                            style="z-index: 42; margin-left: 8.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_43"></span></div>
                                        <div class="card" name="Eight Of Cups"
                                            style="z-index: 43; margin-left: 8.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_44"></span></div>
                                        <div class="card" name="Nine Of Cups"
                                            style="z-index: 44; margin-left: 8.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_45"></span></div>
                                        <div class="card" name="Ten Of Cups"
                                            style="z-index: 45; margin-left: 9px; margin-top: 0px;"><span
                                                class="la_bai la_bai_46"></span></div>
                                        <div class="card" name="Page Of Cups"
                                            style="z-index: 46; margin-left: 9.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_47"></span></div>
                                        <div class="card" name="Knight Of Cups"
                                            style="z-index: 47; margin-left: 9.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_48"></span></div>
                                        <div class="card" name="Queen Of Cups"
                                            style="z-index: 48; margin-left: 9.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_49"></span></div>
                                        <div class="card" name="King Of Cups"
                                            style="z-index: 49; margin-left: 9.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_50"></span></div>
                                        <div class="card" name="Ace Of Swords"
                                            style="z-index: 50; margin-left: 10px; margin-top: 0px;"><span
                                                class="la_bai la_bai_51"></span></div>
                                        <div class="card" name="Two Of Swords"
                                            style="z-index: 51; margin-left: 10.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_52"></span></div>
                                        <div class="card" name="Three Of Swords"
                                            style="z-index: 52; margin-left: 10.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_53"></span></div>
                                        <div class="card" name="Four Of Swords"
                                            style="z-index: 53; margin-left: 10.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_54"></span></div>
                                        <div class="card" name="Five Of Swords"
                                            style="z-index: 54; margin-left: 10.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_55"></span></div>
                                        <div class="card" name="Six Of Swords"
                                            style="z-index: 55; margin-left: 11px; margin-top: 0px;"><span
                                                class="la_bai la_bai_56"></span></div>
                                        <div class="card" name="Seven Of Swords"
                                            style="z-index: 56; margin-left: 11.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_57"></span></div>
                                        <div class="card" name="Eight Of Swords"
                                            style="z-index: 57; margin-left: 11.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_58"></span></div>
                                        <div class="card" name="Nine Of Swords"
                                            style="z-index: 58; margin-left: 11.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_59"></span></div>
                                        <div class="card" name="Ten Of Swords"
                                            style="z-index: 59; margin-left: 11.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_60"></span></div>
                                        <div class="card" name="Page Of Swords"
                                            style="z-index: 60; margin-left: 12px; margin-top: 0px;"><span
                                                class="la_bai la_bai_61"></span></div>
                                        <div class="card" name="Knight Of Swords"
                                            style="z-index: 61; margin-left: 12.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_62"></span></div>
                                        <div class="card" name="Queen Of Swords"
                                            style="z-index: 62; margin-left: 12.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_63"></span></div>
                                        <div class="card" name="King Of Swords"
                                            style="z-index: 63; margin-left: 12.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_64"></span></div>
                                        <div class="card" name="Ace Of Pentacles"
                                            style="z-index: 64; margin-left: 12.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_65"></span></div>
                                        <div class="card" name="Two Of Pentacles"
                                            style="z-index: 65; margin-left: 13px; margin-top: 0px;"><span
                                                class="la_bai la_bai_66"></span></div>
                                        <div class="card" name="Three Of Pentacles"
                                            style="z-index: 66; margin-left: 13.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_67"></span></div>
                                        <div class="card" name="Four Of Pentacles"
                                            style="z-index: 67; margin-left: 13.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_68"></span></div>
                                        <div class="card" name="Five Of Pentacles"
                                            style="z-index: 68; margin-left: 13.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_69"></span></div>
                                        <div class="card" name="Six Of Pentacles"
                                            style="z-index: 69; margin-left: 13.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_70"></span></div>
                                        <div class="card" name="Seven Of Pentacles"
                                            style="z-index: 70; margin-left: 14px; margin-top: 0px;"><span
                                                class="la_bai la_bai_71"></span></div>
                                        <div class="card" name="Eight Of Pentacles"
                                            style="z-index: 71; margin-left: 14.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_72"></span></div>
                                        <div class="card" name="Nine Of Pentacles"
                                            style="z-index: 72; margin-left: 14.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_73"></span></div>
                                        <div class="card" name="Ten Of Pentacles"
                                            style="z-index: 73; margin-left: 14.6px; margin-top: 0px;"><span
                                                class="la_bai la_bai_74"></span></div>
                                        <div class="card" name="Page Of Pentacles"
                                            style="z-index: 74; margin-left: 14.8px; margin-top: 0px;"><span
                                                class="la_bai la_bai_75"></span></div>
                                        <div class="card" name="Knight Of Pentacles"
                                            style="z-index: 75; margin-left: 15px; margin-top: 0px;"><span
                                                class="la_bai la_bai_76"></span></div>
                                        <div class="card" name="Queen Of Pentacles"
                                            style="z-index: 76; margin-left: 15.2px; margin-top: 0px;"><span
                                                class="la_bai la_bai_77"></span></div>
                                        <div class="card" name="King Of Pentacles"
                                            style="z-index: 77; margin-left: 15.4px; margin-top: 0px;"><span
                                                class="la_bai la_bai_78"></span></div>
                                    </div>
                                    <div class="danh-muc-tarot bo-tarot-hoa-submit" style="opacity: 0;">
                                        <div class="bo-tarot bo-tarot-hoa ">
                                            <div class="select_tarot">
                                                <button type="button" class="button-87 btn-xemynghia">Tiết lộ ý
                                                    nghĩa</button>
                                            </div>
                                        </div>
                                    </div>



                                    <script src="/public/js.js"></script>

                                    
                                    <script src="/public/choose.js"></script>



                                </div>
                            </div>


                        </div>

                </section>

            </div>

        </main>


    </div>

</body>

</html>