/* Header.css */
.nav1 {
    top: 0;
    left: 0;
    right: 0;
    background-color: #2d3748; /* Gray-800 */
    color: white;
    padding: 1rem;
    z-index: 10;
    text-align: center;
}

.title-container1, .subtitle-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.subtitle1 {
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.menu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    list-style: none;
    padding: 0;
}

.menu1 li {
    margin-right: 1rem;
}

.menu-link1 {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-link1:hover {
    color: #2563eb; /* Blue-600 */
}
